<!-- src/app/room-create/room-create.component.html -->
<form [formGroup]="roomForm" (ngSubmit)="onSubmit()">
  <label>
    Room Number:
    <input formControlName="number" type="number" />
  </label>
  <div
    *ngIf="roomForm.get('number')?.invalid && roomForm.get('number')?.touched"
  >
    Required, must be ≥1
  </div>

  <label>
    Type:
    <input formControlName="type" type="text" />
  </label>

  <label>
    Capacity:
    <input formControlName="capacity" type="number" />
  </label>

  <label>
    Status:
    <input formControlName="status" type="text" />
  </label>

  <label>
    Rating:
    <input formControlName="rating" type="number" step="0.1" />
  </label>

  <label>
    Price / Night:
    <input formControlName="pricePerNight" type="number" step="0.01" />
  </label>

  <button type="submit" [disabled]="roomForm.invalid">Create Room</button>
</form>
