html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#main-content {
  flex: 1 0 auto;
}

ngx-slider {
  .ngx-slider-pointer {
    transform: scale(0.8) !important;
  }
}

.mat-mdc-paginator {
  justify-content: center !important;
  display: flex !important;
  background-color: transparent !important;
}
