.button-success {
  background-color: #4caf50 !important;
  color: white;
}

.button-danger {
  background-color: #f44336 !important;
  color: white;
}

.button-info {
  background-color: #2196f3 !important;
  color: white;
}

.button-warning {
  background-color: #ff9800 !important;
  color: white;
}
